<div [@routerTransition]>
  <app-page-header [heading]="'Manage Article'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-md-12">
      <button class="btn btn-xs btn-info" [routerLink]="['/add-article']" routerLinkActive="router-link-active"
        *ngIf="CanCreate">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <ngx-datatable [rows]="rows" class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [reorderable]="reorderable" (page)="pageCallback($event)" (sort)="sortCallback($event)"
        [externalPaging]="true" [externalSorting]="true" [count]="page.count" [offset]="page.offset"
        [limit]="page.limit" [sortType]="'single'">
        <ngx-datatable-column name="Id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Title">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="timestamp">
          <ng-template let-column="column" ngx-datatable-header-template> Time Stamp </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Author">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reviewer">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" sortable="false" prop="id" *ngIf="CanActions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="removeArticle(row)" class="btn btn-primary btn-xs mr-2" *ngIf="CanDelete">
              <i class="fa fa-ban"></i>
            </button>
            <button (click)="editArticle(row)" class="btn btn-xs btn-danger" *ngIf="CanUpdate">
              <i class="fa fa-check"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
